<header>
    <h1>V-Blogger</h1>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/profile">Profile</a></li>
            <% if (isAdmin) { %>
                <li><a href="/analytics">Analytics</a></li>
            <% } %>

            <% if (userLoggedInRN) { %>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>
<script>
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('show');
    }
</script>
<script type="module" src="/firebase-init.js"></script>
