<header>
    <h1>V-Blogger</h1>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>
<script>
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('show');
    }
</script>